* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: #000000;
   color: black;
   font-size: 23px;
   font-family: Arial, Helvetica, sans-serif;
   transition: all .5s ease;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   justify-content: space-between;
   }

p {
    line-height: 1.5;
    text-align: justify;
}

img {
    display: block;
}

.page-header {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.2s;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    max-width: 1400px;
    align-items: center;
  }
  
  .header_list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
    justify-items: center;
    width: 100%;
   }
  
   .header_item{
     margin-right: 46px;
        }
   li {
    list-style-type: none; /* Убираем маркеры */
   }
  
   
  
   .header_link{
    font-weight: 200;
    font-size: 26px;
    line-height: 50px;
    letter-spacing: 2px;
    color: black;
    text-decoration: none;
   }
  
   .header_link:hover {
    border-radius: 3rem;
    background-color: #0050ff;
    color: #ffffff;
}



.main-wrapper {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 2rem;
}
main {
    margin-top: 50px;
}

section {
    padding: 25px 20px;
    margin-bottom: 10rem;
    background: linear-gradient(to bottom, #f351d8, #ffb6b6 ) ;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 15px 15px 0 rgb(196, 193, 193);
    
}

.title {
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    position: relative;
}

.title:before {
    position: absolute;
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: #0050ff;
    margin-left: -1.5rem;
    top: 0.5rem;
}

.about-me {
    justify-content: center;
    align-items: center;
    margin-top: 15vw;
       
}

.about-me__img {
    display: inline-block;
    width: 200px;
    border-radius: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contact-links {
    position: relative;
    
}

.contact-links__item {
    display: flex;
    margin-bottom: 10px;
    align-items:center;
      
}
a {
    text-decoration: none;
    color: black;
}

.contact-img {
    margin-right: 15px;
}
.skills_list {
    position: relative;
}
.skills_item {
    display: flex;
    margin-bottom: 10px;
}
.experience {
    position: relative;
}
.experience_list {
    display: flex;
    margin-bottom: 10px;
}

.education__list {
    position: relative;
}

.education__item {
    display: flex;
    margin-bottom: 30px;
    flex-direction:column;
justify-content:space-between;
}

.education_text {
    text-align: left;
    
}
.js_code {
    display: flex;
}
.hljs-keyword {
    color:red;
}
.hljs-title_function {
color:green;
}
.page-footer {
    background-color: #ffffff;
}

.page-footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem; 
}

.page-footer__copyright {
    font-size: 1.2rem;
}

.page-footer__contact-links {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.footer_img {
    margin-right: 50px;
}